<% post=@post %>
<div id="<%= dom_id post %>" class="m-3">
  <h2 class="subtitle"> <%= post.title %></h2>
  <p class="inline p"> <%= post.body.slice(0,300)+"..." %></p>
  <%= link_to 'see post', user_group_post_path(id: post, group_id: post.group.id),  data: {turbo_stream: ""}, method: "get", class: " inline font-medium text-blue-600 dark:text-blue-500 hover:underline md:p-3"%>
</div>
