<div id="main-container">
  <div id="active-content">
  <%= button_to "Logout", destroy_user_session_path, method: "delete", data: {trubo: false} %>
  <%= render "/groups/index", locals: {groups: @groups} %>
  </div>
</div>
