<div id="main-container" class="w-screen">
    <%= render(NavbarComponent.new()) %>
  <div id="active-content">
  <%# <%= render "/posts/index", locals: {posts: @posts} %>
  <%= render "/groups/index", locals: {groups: @groups} %>
  </div>
</div>

