<div>
  <% if current_user.joined?(@group) %>
  <div id="new_post">
    <%= render(NewPostComponent.new(post: Post.new, group: @group)) %>
  </div>
  <% end %>
  <h1 class="text-xl">All posts</h1>
  <div id="posts" class="min-w-full">
    <%= render(PostComponent.with_collection(@posts)) %>
  </div>
</div>
